.wraper {
  width: 60%;
  max-height: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  border: none;
  background-color: #f5f6fa;
  margin-left: 20%;
  margin-top: 10px;
  border-radius: 15px;
  padding-top: 25px;

  .continer {
    width: 80%;
    min-height: 100%;
    background-color: transparent;
    overflow-y: scroll;
  }
}
