.wraper {
  width: 100%;
  background-color: #f7fafc;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  overflow: auto;

  .continer {
    width: 30%;
    height: calc(100vh + 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 10px;

    h1 {
      line-height: 1.2;

      span {
        display: block;
        text-align: center;
      }
    }

    form {
      width: 80%;
      height: 80%;
      border: 1px solid rgb(243, 238, 238);
      border-radius: 14px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: white;

      .formContiner {
        width: 88%;
        height: 86%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        position: relative;

        label {
          font-size: 15px;
          font-weight: 500;
        }

        input {
          width: 94%;
          height: 24px;
          border: 1px solid rgb(236, 226, 226);
          border-radius: 4px;
          position: relative;
          padding: 10px;
          font-size: 17px;
        }
        input:focus {
          outline: none;
          border-color: rgb(93, 198, 240);
          border-width: 2px;
          border-radius: 8px;
        }
      }
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        width: 88%;
        height: 45px;
        background-color: #3182ce;
        border: none;
        border-radius: 6px;
        color: white;
        font-size: 18px;
        font-weight: bold;
      }
    }
    .singinInfo {
      font-size: 19px;
      margin: 6px;
    }
    .signin {
      text-decoration: none;
      font-size: 18px;
      color: #4299e1;
    }
    .signin:hover {
      text-decoration: underline;
    }
  }
}
