.wraper {
    width: 100%;
    flex: 1;
    background-color: #F7FAFC;
    display: flex;
    justify-content: center;


    .continer {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;

    }
}