.wraper {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(235, 234, 234);
  position: fixed;
  top: 0;
z-index: 999;
  background-color: white;
  

  .continer {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .greetings {
      text-decoration: none;
      font-size: 28px;
      color: black;
      font-weight: 800;
    }

    .button {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      width: 90px;
      height: 40px;
      background-color: #3182ce;
      border: none;
      border-radius: 6px;
      color: white;
      font-size: 17px;
      font-weight: 500;
    }
  }
}
